{% extends 'walker/base.html' %}

{% block title %}Sign in{% endblock %}

{% block content %}
    <div class="row mt-5 pt-5">
        <div class="col-4"></div>
        <div class="col-4" style="height:100vh">
            <form method="POST" action="/sign-in/" class="login-form mt-5">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-12">
                        <input type="text" class="form-control " id="login" name='login' placeholder="Логин">

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <input type="password" class="form-control " id="password" name="password" placeholder="Пароль">
                    </div>
                </div>
                <div class="form-row">
                    <a href="/sign-up/" class="mx-auto mb-2">
                        Регистрация
                    </a>
                    <a href="/reset-password/"  class="mx-auto">
                        Забыл пароль
                    </a>
                </div>
                <div class="form-row">
                    <input type="submit" value="Войти" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>

{% endblock %}